main{
    background-color: #202324;
    font-family: oswald;
}

.titulo{
    color: white;
}

.card{
    padding: 10px 20px;
    width: 260px;
    height: auto;
    padding-top: 20px;
    border-radius: 8%;


}

.foto{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card-text{
    display: flex;
    text-align: center;
    margin-top: 20px;
}

.card-neon{
    box-shadow: 0 0 8px 5px #9c189a;
    background-color: #474b4e;
}

.card-body{
    color: white;
}