main {
    background-color: #202324;
    padding: 0;
    margin: 0;
}

.color-sidebar {
    background-color: #202324;
}

.accordion-body ul li {
    list-style: none;
    font-family: oswald;
}

.accordion-button {
    background-color: #202324;
}

.accordion-button:hover {
    background-color: #202324;
    transition: none;
}

.accordion:hover:active {
    transition: none;
    background-color: #202324;
}

.dropdown-menu {
    background-color: #202324;
    font-family: oswald;
}

.dropdown-toggle {
    font-family: oswald;
}

.dropdown-menu li a {
    text-decoration: none;
    color: white;
    font-family: oswald;
}

.dropdown-menu li {
    margin-top: 10px;
    margin-left: 10px;
}

.accordion-button {
    font-family: oswald;
}

.accordion-button:not(.collapsed) {
    background-color: #202324;
    color: var(--bs-accordion-active-color)
}



.card-custom {
    background-color: #181a1b;
}

.card-title-custom {
    font-weight: 300;
}

.card-text-custom {
    font-weight: 500;
}

.my-custom-button {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.1rem;
    --bs-btn-font-size: 0.75rem;
    background-color: #ff2cfd !important;
    font-weight: 400;
    width: 100%;
}

nav[aria-label="breadcrumb"] {
    --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E");
}

.page-link {
    color: white;
    background-color: #202324;
}

.page-link:hover {
    color: #ff2cfd;
}