*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    margin: 0;
    padding: 0;
}

main{
    margin: 0;
    background-image: url(/RollingGamer/assets/img/Imagen\ de\ WhatsApp\ 2024-07-29\ a\ las\ 01.30.01_9930995a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width:1024px)  {
   main{
    background-position: center;
   } 
}