* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #181a1b;
  font-family: oswald;
  font-weight: 300;
  
  nav {
    background-color: #0e0f0f;
    img {
      width: 13rem;
    }
    #search {
      border: none;
      border-radius: 20px 0 0 20px;
    }
    .btnsearch {
      background-color: #ff2cfd;
      outline: none;
      border: none;
      border-radius: 0 10% 10% 0;
      display: flex;
      align-items: center;
      padding: 10px;
    }
  }
  .lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #181a1b;
    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      color: #ff2cfd;
    }
  }
}

footer {
  background-color: #222222;
  font-family: oswald;
  font-weight: 300;

  .listafooter {
    list-style: none;
    color: white;
    padding: 0;
    font-size: 13px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: #ff2cfd;
  }
}

@media screen and (max-width: 767px) {
  header {
    .lista {
      flex-direction: column;
      align-items: center;
    }
    img {
      margin-left: 30px;
    }
  }

  #search {
    margin-left: 20px;
  }
}
