* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
header {
  nav {
    background-color: #0e0f0f;
    img {
        width: 10rem;
    }
  }
}
.btnsearch {
    background-color: #ff2cfd;
    outline: none;
    border: none;
    width: 30px;
    height: 100%;
    border-radius: 0 10% 10% 0;
  }

  #search {
    width: 20rem;
    height: 100%;
    border: none;
    border-radius: 20PX 0 0 20PX;
  }
  .lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #181a1b;

  }
